@media (min-width:576px) {
  .zoom-on-hover:hover .image {
    -webkit-transform: scale(1.0);
    transform: scale(1.2);
    opacity: .7;
  }
}

.img-wrapper {
  display: inline-block;
  overflow: hidden;
}

.portfolio-block.project .image {
  width: auto;
  height: 100vh;
}

